body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgba(255, 75, 75);
  }
  
  header {
    text-align: center;
    cursor: default;
    background: linear-gradient(rgba(184, 0, 184, 1), rgba(255, 75, 75, 0.6));
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    border-radius: 0.9rem 0 0 0.9rem;
  }
  
  .past {
    background-color: #fcff49;
    color: white;
  }
  
  .present {
    background-color: #77dd77;
    color: white;
  }
    /* I like these colors better */
  .future {
    background-color: #8867ff;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
 /* changed bootstraps btn-close positioning only after testing in dev tools, as well as media queries updating the positioning as needed */
  .btn-close {
    position: absolute;
    right: 11vw;
  }

  @media (max-width: 1040px) {
    .btn-close {
        right: 12vw
    }
  }

  @media (max-width: 768px) {
    .btn-close {
        right: 21vw
    }
}